---
---

@import "{{ site.theme }}";

p {
  margin-right: 0px;
  margin-left: 0px;
  font-size: 17px;
}

div {
  text-align: justify;
  text-justify: inter-word;
}

header {
  width: 200px; /* Change this value to something smaller like 200px */
}
