---
---

@import "{{ site.theme }}";

p {
  margin-right: 0px;
  margin-left: 0px;
  font-size: 17px;
  padding: 0px;
}

div {
  text-align: justify;
  text-justify: inter-word;
}

header {
  width: 210px; /* Change this value to something smaller like 200px */
}

section {
  margin-left: 210px;  /* Match your header width */
  max-width: none;     /* Remove width restrictions */
  padding: 20px 30px;  /* Adjust padding as needed */
}
